flask
numpy
nltk
pandas
regex
langdetect
Flask-RestPlus
pip install git+https://github.com/LIAAD/yake
pip install git+https://github.com/JMendes1995/py_heideltime
pip install git+https://github.com/JMendes1995/Time-Matters.git
