flask
gunicorn
numpy
nltk
pandas
regex
langdetect
Flask-RestPlus
git+https://github.com/LIAAD/yake
git+https://github.com/JMendes1995/py_heideltime
git+https://github.com/JMendes1995/Time-Matters.git
